* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  background-color: black;
  transition: 0.3s;
}
.greatingmsg {
  font-size: 3vh;
  position: absolute;
  top: 10vh;
  animation: text 2s;
}
@keyframes text {
  0% {
    opacity: 0;
  }
  20% {
    top: 11vh;
  }
  100% {
    opacity: 100%;
    top: 10vh;
  }
}
.circle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  max-height: 70vh;
  width: 70vh;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  gap: 70px;
  padding-top: 1.5vh;
  width: 70vh;
  height: 70vh;
  border-radius: 50%;
  border: white solid 3vh;
}
.radiostream {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 6vh;
}
.cairo {
  position: absolute;
  bottom: 0;
  width: 63vh;
  height: 18vh;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(500%);
}
.birds {
  display: none;
  position: absolute;
  bottom: 7vh;
  width: 5vh;
  opacity: 0;
  object-fit: fill;
  filter: brightness(0%);
  animation: flying 200s;
}
.stars {
  display: none;
  position: absolute;
  bottom: -6vh;
  left: 50vh;
  width: 60vh;
  object-fit: fill;
  filter: invert();
}
.clouds {
  display: none;
  position: absolute;
  bottom: 10vh;
  width: 10vh;
  left: 90vh;
  border-radius: 50%;
  object-fit: fill;
  filter: brightness(0%);
  animation: fly 500s;
}
@keyframes fly {
  0% {
    opacity: 0;
    right: 95vh;
  }
  2% {
    opacity: 100%;
  }
  50% {
    right: 60vh;
  }
  98% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    right: 95vh;
  }
}
@keyframes flying {
  0% {
    opacity: 0;
    left: 110vh;
  }
  2% {
    opacity: 100%;
  }
  50% {
    left: 55vh;
  }
  98% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    left: 110vh;
  }
}
.start {
  display: inline-block;
  width: 20vh;
  height: 6vh;
  background-color: white;
  color: black;
  font-weight: bolder;
  border: none;
  border-radius: 5vh;
}
.stop {
  display: none;
  width: 20vh;
  height: 6vh;
  background-color: red;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5vh;
}
button:hover {
  transform: scale(98%);
  filter: brightness(75%);
}
audio {
  display: none;
}

/* mobile view */
@media (max-width: 500px) {
  body {
    margin-top: 100px;
    min-height: 70vh;
  }
  .circle {
    transform: scale(55%);
  }
  .cairo {
    transform: scale(130%);
    bottom: -58vh;
  }
  .birds {
    bottom: -50vh;
  }
  .stars {
    bottom: -60vh;
    left: 0vh;
  }
  .clouds {
    width: 12vh;
    bottom: -40vh;
    left: 0vh;
  }
  @keyframes fly {
    0% {
      opacity: 0;
      right: 50vh;
    }
    2% {
      opacity: 100%;
    }
    50% {
      right: 0vh;
    }
    98% {
      opacity: 100%;
    }
    100% {
      opacity: 0;
      right: 50vh;
    }
  }
  @keyframes flying {
    0% {
      opacity: 0%;
      left: 70vh;
    }
    2% {
      opacity: 100%;
    }
    50% {
      left: 10vh;
    }
    98% {
      opacity: 100%;
    }
    100% {
      opacity: 0;
      left: 70vh;
    }
  }
}
